
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
   

   {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
   <div class="hero-section">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1 class="animate">WELCOME TO CHAM INVESTMENT</h1>
            <p class="animate">Exporting Premium Cattle from Africa to the World</p>
            <a href="/contact/" class="btn animate">Get Started</a>
        </div>
    </div>
</body>
</html>